<html ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-locale_pt-br.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers/listaTelefonicaController.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/geral-css.css">
		<script type="text/javascript" src="js/services/contatoService.js"></script>
		<script type="text/javascript" src="js/services/operadoraServices.js"></script>
		<script type="text/javascript" src="js/value/geralConfig.js"></script>
		<script type="text/javascript" src="js/services/serialGeneratorService.js"></script>
		<script type="text/javascript" src="js/config/serialGeneratorConfig.js"></script>
		<script type="text/javascript" src="js/filters/nameFilter.js"></script>
		<script type="text/javascript" src="js/filters/ellipsisFilter.js"></script>
		<script type="text/javascript" src="js/directives/uiAlertDirective.js"></script>
		<script type="text/javascript" src="js/directives/comboOperadorasDirective.js"></script>
		
		<title>Lista Telefônica</title>
	</head>
	<body ng-controller="listaTelefonicaController">
		<div class="jumbotron">
			<ui-alert title="Ops, ocorreu um erro" msg="error" ng-if="error"></ui-alert>
		
			<h4 ng-bind="app"></h4>
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>Serial</th>
					<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Categoria</th>
					<th>Data</th>
				</tr>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: {nome: criterioDeBusca} | orderBy: campoDeOrdenacao:direcaoDaOrdenacao">
					<td> <input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.serial}}</td>
					<td>{{contato.nome | name | ellipsis}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td>{{contato.operadora.categoria}}</td>
					<td>{{contato.data | date: 'MMMM EEEE dd/MM/yyyy HH:MM:ss'}}</td>
				</tr>
			</table>
			<hr>
			<form name="contatoForm">
				<input placeholder="Nome" class="form-control" type="text" name="nome" ng-model="contato.nome" ng-required="true">
				<input placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/" class="form-control" type="text" name="telefone" ng-model="contato.telefone" ng-required="true">
				<input type="text" placeholder="Data de Nascimento" class="form-control" ng-model="contato.data" ng-required="true" name="data" ng-change="atualizarListaOperadoras()"/>
				<combo-operadoras operadora="contato.operadora" operadoras="operadoras"></combo-operadoras>
			</form>
			<div class="alert alert-danger" ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty">
				Por favor, preencher o campo nome.
			</div>
			<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
				Por favor, preencher o campo telefone.
			</div>
			<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
				Telefone inválido.
			</div>
			<div class="alert alert-danger" ng-show="contatoForm.data.$error.pattern">
				Data de nascimento inválida!
			</div>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
			<button class="btn btn-danger btn-block" ng-click="removerContato(contatos)" ng-if="isContatoSelecionado(contatos)">Remover</button>
			<button class="btn btn-primary btn-block" ng-click="editarContato(contatos)" ng-if="isApenasUmSelecionado(contatos)">Editar</button>
		</div>
		<div style="background-color: gray" ng-include="'footer/footer.html'"></div>
	</body>
</html>